
<div id="aboutPage">
    
    <h1 id="aboutMeHeading">
        About Me
    </h1>

    <div id="basicInformation">
        <h2 id="letsStartH2"> Lets Start with Basic Information </h2>

        <p>Hey Guys!! Akshit this side. I am Indian international student currently studying in Georgian college
            I am enrolled in Computer programming course and attained 4.0 GPA in all semesters.
        </p>

        <p> I sometimes do freelancing and also part time contract based work. I have worked as an computer instructor
            back in my home country. If you need any assistance or have any queries, feel feel to contact.
        </p>




{{!-- 
        <p>Name : Akshit Goel </p>
        <p>Birth Year : 2003 </p>
        <p>Country of Origin : India</p>
        <p>Diploma : Computer Programming (CMPG)</p>
        <p>GPA in Diploma : 4.0</p>
        <p>Experience Till Now: Fresher...</p>
     --}}
    
    
    </div>
    


</div>
