
<div id="indexPage">

    <div id="indexImage">

    </div>

    <div id="indexContent">
        <h1> AKSHIT GOEL </h1>
        <p id="indexContentPara"> Aspiring WEB DEVELOPER </p>
        <p id="indexContentPara2"> who is committed to enhance user-experience through innovative web development </p>

        <div id="indexContentButtons">
            <button id="button" type="button" > 
                <a href="/About">About Me</a>
            </button>
            <button id="button" type="button">
                <a href="/Projects"> My Projects </a> 
            </button>
            <button id="button" type="button">
                <a href="/Contact"> Contact Me </a> 
            </button>
        </div>

    </div>

</div>



