
<h1 id="projectHeading"> MY PROJECTS </h1>

<h2 id="projectSubHeading"> HERE IS LIST OF SOME OF MY PROJECTS</h2>

<div id="projectsDiv">

    <a href="http://127.0.0.1:5500/Amazon_Clone/index.html">
        <div id="project1"></div>
    </a>

    <a href="http://127.0.0.1:5500/Apple_Clone/index.html">
        <div id="project2"></div>
    </a>
    
    <a href="http://127.0.0.1:5500/Sidcup%20Family%20Golf%20/index.html">
        <div id="project3"></div>
    </a>

</div>