
<h1 id="projectHeading"> MY PROJECTS </h1>

<h2 id="projectSubHeading"> HERE IS LIST OF SOME OF MY PROJECTS</h2>

<div id="projectsDiv">

    <a href="https://6529fd3503f1d654a828e2c6--profound-profiterole-d3d383.netlify.app/">
        <div id="project1"></div>
    </a>

    <a href="https://6529fd736c9a3520940ed786--gleeful-madeleine-8a808d.netlify.app/">
        <div id="project2"></div>
    </a>
    
    <a href="https://6529fdaa5b675c5b149c20e6--playful-eclair-d9e7d1.netlify.app/">
        <div id="project3"></div>
    </a>

</div>