<h1 class="addHeading">{{title}}</h1>

{{!-- Create a form to send data back to the server --}}

<form method="POST">

    {{!-- add form fields --}}
    <fieldset>
        <label for="recipeType" class="col-2">Recipe Type(Veg/Non-veg) : </label>
        <input name="recipeType" id="recipeType"/>
        {{!-- <select name="recipeType" id="recipeType">
            {{#each recipeType}}
                {{!-- <option>{{this.recipeType}</option> 
            {{!-- {{/each}}         
             </select>  --}}
    </fieldset>


    {{!-- fieldset for recipe name --}}
    <fieldset>
        <label for="recipeName" class="col-2">Recipe Name: </label>
        <input name="recipeName" id="recipeName" required/>
    </fieldset>

    {{!-- fieldset for inputting ingredients used in the recipe  --}}
    <fieldset>
        <label for="ingredients" class="col-2">Ingredients Used: </label>
        <input name="ingredients" id="ingredients"/>
    </fieldset>

    {{!-- add button to trigger POST request back to server --}}

    <button class="addPageButton"> Save </button>

</form>