<h1>{{title}}</h1>

{{!-- Create a form to send data back to the server --}}

<form method="POST">

    {{!-- add form fields --}}
    <fieldset>
        <label for="recipeType" class="col-2">Recipe Type: </label>
        <input name="recipeType" id="recipeType"/>
    </fieldset>

    <fieldset>
        <label for="recipeName" class="col-2">Recipe Name: </label>
        <input name="recipeName" id="recipeName" required/>
    </fieldset>

    <fieldset>
        <label for="ingredients" class="col-2">Ingredients Used: </label>
        <input name="ingredients" id="ingredients"/>
    </fieldset>

    {{!-- add button to trigger POST request back to server --}}

    <button class="offset-3 btn btn-primary"> Save </button>

</form>