<h1>{{title}}</h1>

<form method="post">

    <fieldset>
        <label for="recipeType">Recipe Type: </label>
        <input name="recipeType" id="recipeType"/>
    </fieldset>

    <button class="offset-3 btn btn-primary"> Save </button>

</form>