<%- include("partials/header") %>
<!DOCTYPE html>
<html>
<head>
    <title>Marie Curie</title>
</head>
<body>
    <h1>Marie Curie</h1>
    <p>Background: Marie Curie, born in Poland and naturalized as a French citizen, was a pioneering physicist and chemist.<br><br>
        Contributions: Curie is renowned for her groundbreaking research on radioactivity. She discovered the elements polonium and radium and conducted pioneering studies on the properties of radioactive materials. Her work had significant implications for the development of radiation therapy and diagnostic techniques.<br><br>
        Legacy: Curie was the first woman to win a Nobel Prize and remains an inspirational figure for her dedication to science and her contributions to medical and industrial applications of radioactivity.</p>
</body>
</html>
