<%- include("partials/header") %>
<!DOCTYPE html>
<html>
<head>
    <title>Charles Darwin</title>
</head>
<body>
    <h1>Charles Darwin</h1>
    <p>Background: Charles Darwin was an English naturalist and biologist known for his contributions to the theory of evolution.<br><br>
        Contributions: Darwin's most famous work, "On the Origin of Species," introduced the theory of natural selection, which explains how species evolve over time. He conducted extensive research on the Galápagos Islands, collecting evidence that supported his ideas on the adaptation and diversity of species.<br><br>
        Legacy: Darwin's theory of evolution by natural selection revolutionized our understanding of biology and has had profound implications for our understanding of the diversity of life on Earth. His work remains a cornerstone of modern biology.</p>
</body>
</html>
