<%- include("partials/header") %>
<!DOCTYPE html>
<html>
<head>
    <title>Albert Einstein</title>
</head>
<body>
    <h1>Albert Einstein</h1>
    <p>Background: Albert Einstein was a German-born theoretical physicist who later became a naturalized American citizen.<br><br>
        Contributions: Einstein is famous for his theory of relativity, including the equation E=mc², which demonstrates the relationship between energy, mass, and the speed of light. His theory reshaped our understanding of space, time, and gravity, leading to breakthroughs in cosmology and the development of atomic energy.<br><br>
        Legacy: Einstein's work laid the groundwork for modern physics and influenced many aspects of science and technology in the 20th century.</p>
</body>
</html>
