<%- include("partials/header") %>
<!DOCTYPE html>
<html>
<head>
    <title>Isaac Newton</title>
</head>
<body>
    <h1>Isaac Newton</h1>
    <p>Background: Isaac Newton was an English physicist, mathematician, and astronomer. He is widely regarded as one of the most influential scientists in history.<br><br>
        Contributions: Newton is best known for his work in physics, especially his laws of motion and universal gravitation. His publication, "Philosophiæ Naturalis Principia Mathematica," laid the foundation for classical mechanics and introduced the concept of gravity.<br><br>
        Legacy: Newton's laws and mathematical principles have had a profound impact on various scientific fields and continue to be fundamental in our understanding of the physical world.</p>
</body>
</html>
